body {
	background-color: indigo;
	font-family: 'Work Sans', sans-serif;
	font-weight:200;
	font-size: 1em; 
}
body, a{
	margin: 0;
	color: white;
}

.clear { clear: both; }

header{
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left:0;
	background-color: black;
	width:100%;
	height: 10vh;
	text-align: center;
}
header #desktop {
	display: none;
}
header, nav, a 
{
	padding: 2vh;
	text-decoration: none;
	line-height: 10vh;
}
/*container*/
section{
	position: relative;
	top: 15vh;
	margin-left: 10vw;
}
/*columns*/
section p {
	width: 80vw;
	float: left;
	padding: 2%;
	box-sizing: border-box;
}
/*grid of our work*/
section #work{
	position: absolute;
	width: 80vw;
	left: 0;
	right: 0;
}
section .items {
	width: 76vw;
	height: 76vw;
	float: left;
	text-align: center;
	margin: 5px;
	background-color: rgba(0,0,255,1);
	transition: all 1s;
}

section .items:hover{
	background-color: rgba(0,0,255,.2);
}

/*#item1{background: #37BC9B;}
#item2{background: #DA4453;}
#item3{background: #F6BB42;}
#item4{background: #3BAFDA;}
#item5{background: #4A89DC;}
#item6{background: #E9573F;}
#item7{background: #434A54;}
#item8{background: #D770AD;}
#item9{background: #8CC152;}
#item10{background: #967ADC;}
#item11{background: #E6E9ED; color: #333}
#item12{background: #AAB2BD; color: #333}*/

.words{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: -10;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 500px) and (min-device-width: 500px){
	body{
		background-color: orange;
	}
	section .items {
		width: calc(76vw / 2);
		height: calc(76vw / 2);
	}
}
/*tablet*/
@media screen and (min-width: 780px) and (min-device-width:500px){
	body{
		background-color: blue;
	}
	section .items {
		width: calc(76vw / 3);
		height: calc(76vw / 3);
	}
	section p {
		width: calc(76vw / 3);
	}
	header #desktop{
		display: block;
	}
	header #mobile{
		display: none;
	}
}

/*desktop*/
@media screen and (min-width: 1050px) {
	body{
		background-color: crimson;
	}
}

/*FOR MOBILE DEVICES*/
/*Source for different devices http://cssmediaqueries.com/target/*/
@media screen and (max-device-width: 500px) and (orientation: portrait){
	body {
		background-color: yellow
		color:black;
		font-size: 2.5em
	}
}
/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/

@media screen and (max-device-width: 500px) and (orientation: landscape), screen and (max-device-height: 500px) and (orientation: landscape){
	body{
		background-color: limegreen;
	}
	section .items{
		width: calc(76vw/2);
		height: calc(76vw/2);
	}
}